[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datetime = "*"
tts = "*"
tk = "*"
gtts = "*"
spotipy = "*"
spotify-dl = "*"
spotdl = "*"
simpleaudio = "*"
playsound = "*"
pygobject = "*"

[dev-packages]

[requires]
python_version = "3.10"
